<div class ="container">

  <div class ="text-center my-3">
    <h1>Hello <%= @user.first_name %><%= @user.last_name %></h1>
  </div>

  <div>
  <h3>Your bookings:</h3>
  </div>

<div class="cards">
  <% if @user.bookings.empty? %>
    <p>You don't have any bookings </p>
  <% else %>
    <% @user.bookings.each do |booking| %>

    <div class="card-product">
    <%= cl_image_tag booking.car.photo.key, height: 300, width: 600, crop: :fit %>
  <div class="card-product-infos">
    <div>
      <h2>Car model: <%= booking.car.model %></h2>
      <p>Colour: <%= booking.car.colour %></p>
      <p>Fuel type: <%= booking.car.fuel_type %></p>
      <p>Number of seats: <%= booking.car.number_of_seats %></p>
    </div>
    <h2 class="card-trip-pricing">£99.99</h2>
  </div>
</div>




    <% end  %>
  <% end %>
</div>


</div>
