<div class="containernomarg mx-5">
    <%# Greeting %>
    <div class ="text-center my-3">
      <h1>Hello <%= @user.first_name %> <%= @user.last_name %></h1>
    </div>

    <div class ="text-start">
    <h3>Your bookings:</h3>
    </div>

  <%# Bookings %>

  <div class="cards-dash">
    <% if @user.bookings.empty? %>
      <p>You don't have any bookings </p>
    <% else %>
      <% @user.bookings.each do |booking| %>

      <div class="card-product-dash">
      <%= cl_image_tag booking.car.photo.key, height: 300, width: 600, crop: :fit%>
      <div class="card-product-infos-dash">
        <div>
          <h2>Car model: <%= booking.car.model %></h2>
          <p><strong>Pickup</strong> date: <%= booking.pickup_date %></p>
          <p><strong>Return</strong> date: <%= booking.return_date %></p>
        </div>
        <h2 class="card-trip-pricing-dash">£99.99</h2>
      </div>
  </div>
      <% end  %>
    <% end %>
  </div>
</div>
<%# Rentals %>
