<<<<<<< HEAD
<div class=container>
<h1>Sexy cars to rent!</h1>
</div>
=======
<div class="banner">
  <div class="video-container">
    <%= video_tag "car.mp4", autoplay: true, loop: true %>
      <div class="caption">
        <h1>Book your favourite cars!</h1>
        <%= link_to "Rent your car!", new_car_path, class: "btn btn-flat" %>
      </div>
  </div>
</div>

<div class="container">
>>>>>>> 1a22a4666b325b3a2a4534ea50bcfd25e4860b2f
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-product">
        <%= cl_image_tag car.photo.key, height: 300, width: 600, crop: :fit %>
<<<<<<< HEAD
        <div class="card-product-infos">
          <h2> <%= link_to car.model, car_path(car), class: "" %> </h2>
        </div>
      </div>
    <%end  %>
  </div>
=======
          <div class="card-product-infos">
            <%= link_to car.model, car_path(car), class: "btn btn-flat"  %>
            <%= car.colour %>
         </div>
       </div>
    <%end%>
  </div>
</div>
>>>>>>> 1a22a4666b325b3a2a4534ea50bcfd25e4860b2f
