<div class="index-centre">
  <h1>Sexy cars to rent!</h1>
</div>
<div class="index-centre">
  <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a car"
  %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="cards">
  <% @cars.each do |car| %>
    <div class="card-test" >
      <%= link_to car_path(car) do %>
        <div class="card__image"> <%= cl_image_tag car.photo.key, crop: :fit%> </div>
        <div class="card__title">
          <h2> <%= car.model  %> </h2>
        </div>
        <button class="btn"><%= link_to "Book!", car_path(car), class: "btn btn-primary" %></button>
      </div>
    <% end %>
  <%end  %>
</div>
