<div class="index-centre">
  <h1>Sexy cars to rent!</h1>
</div>
<div class="index-centre">
  <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a car"
  %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container-index">
  <div class="cards">
    <% @cars.each do |car| %>
      <div class="card-product">
        <%= cl_image_tag car.photo.key, height: 300, width: 600, crop: :fit %>
        <div class="card-product-infos">
          <h2> <%= link_to car.model, car_path(car), class: "" %> </h2>
        </div>
      </div>
    <%end  %>
  </div>
