 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="new_car.css">
</head>
<body>

<div class="container">
<h1 >Add a new Car<h1>

<%= simple_form_for(@car) do |f| %>
  <%= f.input :model %>
  <%= f.input :colour %>
  <%= f.input :fuel_type, :collection => ['Electric', 'Hybrid', 'Petrol', 'Diesel'] %>
  <%= f.input :number_of_seats, :collection => ['2', '5', '7'] %>
  <%= f.button :submit %>
<% end %>
</body>
</html>
