<div class="containernomarg">
<h2 class="text-center">Add a New Car</h2>
  <div class="mx-auto w-50" >
    <%= simple_form_for(@car) do |f| %>
      <%= f.input :model %>
      <%= f.input :colour %>
      <%= f.input :fuel_type, :collection => ['Electric', 'Hybrid', 'Petrol', 'Diesel'] %>
      <%= f.input :number_of_seats, :collection => ['2', '5', '7'] %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
  </div>
</div>
