<div>
<% if @car.photo.attached? %>
     <div class="image"> <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %> </div>
<% end %>
      <p> <strong>Number of Seats:</strong> <%=@car.model %></p>
      <p><strong>Number of Seats:</strong> <%= @car.number_of_seats %></p>
      <p><strong>Color:</strong> <%= @car.colour %></p>
      <p><strong>Fuel Type:</strong> <%= @car.fuel_type %></p>
 </div>
<h3>book this car</h3>
<div><%= simple_form_for(@car) do |f| %>
      <%= f.input :model %>
      <%= f.input :colour %>
      <%= f.input :fuel_type, :collection => ['Electric', 'Hybrid', 'Petrol', 'Diesel'] %>
      <%= f.input :number_of_seats, :collection => ['2', '5', '7'] %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, class: "btn-primary" %>
    <% end %>
</div>
<div class="btn btn-flat"><%= link_to "home page", cars_path %></div>
