
 <div>
      <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %>
      <p> <strong>Number of Seats:</strong> <%=@car.model %></p>
      <p><strong>Number of Seats:</strong> <%= @car.number_of_seats %></p>
      <p><strong>Color:</strong> <%= @car.colour %></p>
      <p><strong>Fuel Type:</strong> <%= @car.fuel_type %></p>

</div>

<div class="rendered-form">
    <div class="">
        <h1 access="false" id="control-32899"><div>Book your Car<br></div></h1></div>
    <div class="formbuilder-text form-group field-text-1677672008070">
        <label for="text-1677672008070" class="formbuilder-text-label">Name
            <br>
        </label>
        <input type="text" class="form-control" name="text-1677672008070" access="false" id="text-1677672008070">
    </div>
    <div class="formbuilder-text form-group field-text-1677672049192">
        <label for="text-1677672049192" class="formbuilder-text-label">Contact Number
            <br>
        </label>
        <input type="text" class="form-control" name="text-1677672049192" access="false" id="text-1677672049192">
    </div>
    <div class="formbuilder-text form-group field-text-1677672354677">
        <label for="text-1677672354677" class="formbuilder-text-label">Number of Passengers
            <br>
        </label>
        <input type="text" class="form-control" name="text-1677672354677" access="false" id="text-1677672354677">
    </div>
    <div class="formbuilder-checkbox-group form-group field-checkbox-group-1677672453381">
        <label for="checkbox-group-1677672453381" class="formbuilder-checkbox-group-label">Vehicle
            <br>
        </label>
        <div class="checkbox-group">
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-0" type="checkbox">
                <label for="checkbox-group-1677672453381-0">Vauxhall</label>
            </div>
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-1" type="checkbox" checked="checked">
                <label for="checkbox-group-1677672453381-1">Audi</label>
            </div>
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-2" type="checkbox">
                <label for="checkbox-group-1677672453381-2">BMW</label>
            </div>
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-3" type="checkbox" checked="checked">
                <label for="checkbox-group-1677672453381-3">Ford</label>
            </div>
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-4" type="checkbox" checked="checked">
                <label for="checkbox-group-1677672453381-4">Mustang</label>
            </div>
            <div class="formbuilder-checkbox">
                <input name="checkbox-group-1677672453381[]" access="false" id="checkbox-group-1677672453381-other" class="undefined other-option" value="" type="checkbox">
                <label for="checkbox-group-1677672453381-other">Other
                    <input type="text" id="checkbox-group-1677672453381-other-value" class="other-val">
                </label>
            </div>
        </div>
    </div>
    <div class="formbuilder-date form-group field-date-1677672280735">
        <label for="date-1677672280735" class="formbuilder-date-label">Pick up date
            <br>
        </label>
        <input type="date" class="form-control" name="date-1677672280735" access="false" id="date-1677672280735">
    </div>
    <div class="formbuilder-date form-group field-date-1677672719611">
        <label for="date-1677672719611" class="formbuilder-date-label">
            <div>Return Date</div>
        </label>
        <input type="date" class="form-control" name="date-1677672719611" access="false" id="date-1677672719611">
    </div>
    <div class="formbuilder-button form-group field-button-1677672765676">
        <button type="button" class="btn-default btn" name="button-1677672765676" access="false" style="default" id="button-1677672765676">
            <div>Book</div>
        </button>
    </div>
</div>

<%= link_to "home page", cars_path %>
